<%= render :partial => 'services/local_nav.html.erb' %>
<h1>Couples</h1>
<div id="servicesContent">
  <div id="servicesContentRight">
    <div class="subPictureFrame"><div class="subPictureFrameLiner"><div class="subpage slideShow">
      <%= render :partial => 'partials/image.html.erb', :collection => ImageSlideShow.find_by_text_identifier('services_couples').images %>
    </div></div></div>
    <div class="servicesQuote"><%= quote Quote.find_by_text_identifier('carl_jung1') %></div>
  </div>
  <div id="servicesContentLeft"><div id="servicesContentLeftLiner">
    <%= cms_content_for('services_couples_copy') %>
    <div class="appointmentButtonWpr"><%= link_to image_tag('btn_schedule.gif'), new_appointment_path %></div>
  </div></div>
</div>
<div class="clear"></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/services/couples', 'cache/views/services/couples' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/services/couples', 'cache/views/services/couples' %>
<% end %>
