<%= render :partial => 'services/local_nav.html.erb' %>
<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > <%= link_to 'Services', services_path -%> > Organizations</p>
<h1>Organizations</h1>
<div id="servicesContent">
  <div id="servicesContentRight">
    <%= image_experience ImageExperience.find_by_page_id(@page.id) %>
    <div class="servicesQuote"><%= quotes %></div>
  </div>
  <div id="servicesContentLeft"><div id="servicesContentLeftLiner">
    <%= cms_content_for('services_organizations_copy') %>
    <div class="appointmentButtonWpr"><%= link_to image_tag('btn_schedule.gif'), new_appointment_path %></div>
  </div></div>
</div>
<div class="clear"></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/services/organizations', 'cache/views/services/organizations' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/services/organizations', 'cache/views/services/organizations' %>
<% end %>
