<h1><%= @article.title %></h1>
<p>Author: <%= @article.author -%></p>
<p>Published: <%= @article.published.strftime('%B %e, %Y') -%></p>
<%= textilize @article.body %>
<div><br /><br /><%= link_to 'Edit', edit_admin_article_path(@article) -%>&nbsp;&nbsp;<%= link_to 'Back', admin_articles_path -%></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/admin/articles/show', 'cache/views/admin/articles/show' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/admin/articles/show', 'cache/views/admin/articles/show' %>
<% end %>
