<li>
  <div class="heading2"><%= article.title -%><%= image_tag article.user.avatar.url(:standard), :class => 'float avatarImage' -%></div>
  <p class="heading3">By: <%= article.author %></p>
  <% unless article.published.blank? %><p>Publication Date: <%= article.published.strftime('%B %e, %Y') %></p><% end %>
  <%= textilize(truncate(article.body, :length => 250))%>
  <p><%= link_to 'View Full Article', article_path(article) %></p>
</li>
