<h1><%= @article.title %><% if @article.is_a?(MyArticle) && @article.user && @article.user.avatar.file? %><%= image_tag @article.user.avatar.url(:standard), :class => 'float right avatarImage' -%><% end %></h1>
<h2>By: <%= @article.author %></h2>
<h3><%= full_date @article.published -%></h3>
<% unless @article.is_a?(OtherArticle) %>
<%= textilize @article.body %>
<% else %>
<div class="ipaperWpr"><%= @article.display_ipaper %></div>
<% end %>
<p><%= link_to "<< All Readings", articles_path -%></p>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/articles/show', 'cache/views/articles/show' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/articles/show', 'cache/views/articles/show' %>
<% end %>
