<h1>Dialogues</h1>
<h2>Drop a quick note</h2>
<% form_for @conversation do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :subject, :value => "A quick note from #{current_user.name}"%>
  <% f.fields_for :conversation_entries do |ces| %>
    <%= ces.hidden_field :user_id, :value => current_user.id %>
    <%= ces.text_area :body, :class => 'quickNote' %>
  <% end %>
  <div class="currentParticipants">
    <h2>Participants</h2>
    <% f.fields_for :user_conversations do |users| %>
      <%= users.hidden_field :user_id %>
      <%= link_to mini_persona_tag(users.object.user), 'javascript:;', :class => 'miniPersonaTagLink mini_persona_tag_lnk remove' %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="potentialRecipients hidden">
    <h2>Add Participants</h2>
    <div class="potentialRecipientsContainer potential_participants_container"></div>
  </div>
  <div class="clear"></div>
  <div><%= f.submit 'Send' %></div>
<% end %>


<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/conversations/index', 'cache/views/conversations/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/conversations/index', 'cache/views/conversations/index' %>
<% end %>
