<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > Conversations</p>
<h1>Conversations</h1>
<h2>Drop a quick note</h2>
<div class="float right contactInfoWpr"><%= render :partial => 'partials/contact_info.html.erb' -%></div>
<div id="left">
<% form_for @conversation do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag 'quick', 'true' %>
  <%= f.hidden_field :quick_note, :value => true -%>
  <%= f.hidden_field :subject, :value => "A quick note from #{current_user.name}"%>
  <div class="currentParticipants">
    <h2>To</h2>
    <% f.fields_for :user_conversations do |users| %>
      <%= users.hidden_field :user_id %>
      <%= link_to mini_persona_tag(users.object.user), 'javascript:;', :class => 'miniPersonaTagLink mini_persona_tag_lnk remove' %>
    <% end %>
  </div>
  <div class="clear"></div>
  <% f.fields_for :conversation_entries do |ces| %>
    <%= ces.hidden_field :user_id, :value => current_user.id %>
    <%= ces.text_area :body, :class => 'quickNote' %>
  <% end %>
  <div><%= f.submit 'Send' %></div>
<% end %>
<div class="potentialRecipients hidden">
  <h2>Add Participants</h2>
  <div class="potentialRecipientsContainer potential_participants_container"></div>
</div>
<% if current_user.conversations.any? %>
<div class="buttonWpr"><%= link_to "All my conversations (#{current_user.conversations.count}) &#187;", list_conversations_path, :class => 'medium rounded-button' -%></div>
<% end %>
</div>
<div class="clear"></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/conversations/index', 'cache/views/conversations/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/conversations/index', 'cache/views/conversations/index' %>
<% end %>
