<h1>Dialogues</h1>
<% unless @conversation.quick_note? %><h2><i><%= @conversation.subject -%></i></h2><% end %>
<% @conversation.conversation_entries.each_with_index do |entry, i| %>
<div class="<%= i % 2 == 0 ? 'even' : 'odd'-%> conversationEntry">
  <div class="conversationBody"><%= textilize entry.body %></div>
  <%= content_tag 'div', entry.user.name, :style => "background-image:url('/images/#{entry.user.avatar.url}')", :class => "avatarImaged" %>
</div>
<% end %>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/conversations/show', 'cache/views/conversations/show' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/conversations/show', 'cache/views/conversations/show' %>
<% end %>
