<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > <%= link_to 'Conversations', conversations_path -%> > <%= link_to 'My Conversations', list_conversations_path -%> > <i><%= h @conversation.subject %></i></p>
<h1>Conversations</h1>
<% unless @conversation.quick_note? %><h2><i><%= @conversation.subject -%></i></h2><% end %>
<% curr_user = nil %>
<% i = -1 %>
<% @conversation.conversation_entries.each do |entry| %>
<% i += 1 if curr_user != entry.user %>
<% curr_user = entry.user %>
<% even = i % 2 == 0 %>
<div class="<%= even ? 'even' : 'odd'-%> conversationEntry">
  <div class="conversationBody"><%= textilize entry.body %></div>
  <%= content_tag 'div', entry.user.name, :style => "background-image:url('#{entry.user.avatar.url(:small)}')", :class => "avatarImaged #{'float right' unless even}" %>
</div>
<div class="clear"></div>
<% end %>

<div class="buttonWpr"><%= link_to((curr_user == current_user ? 'Add more to the conversation' : 'Reply'), new_quick_note_conversation_path(@conversation), :class => 'dialog medium rounded-button') %></div>
<div class="buttonWpr"><%= link_to '&#171; All my conversations', list_conversations_path, :class => "medium rounded-button" -%></div>
