<h1>Content Management System</h1>
<h2>Edit Content</h2>
<h2>Step 3</h2>
<p>Edit the content and click 'Save changes'</p>
<% form_for @content, :url => admin_content_path(@content) do |f| %>
<table class="adminFormTable">
  <thead><thead>
  <tbody>
    <tr>
      <td><%= f.label :title -%></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :body -%></td>
      <td><%= f.text_area :body, :class => 'rte' %></td>
    </tr>
    <% if current_user_super_user? %>
    <tr>
      <td><%= f.label :text_identifier -%></td>
      <td><%= f.text_field :text_identifier %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2"><%= f.submit -%> <%= link_to 'Back', page_admin_contents_path(:next => {:page_id => @content.page.id})%></td>
    </tr>
  </tbody>
</table>
<% end %>
<% if current_user_super_user? %>
<%= link_to 'Delete', admin_content_path(@content), :method => 'delete', :confirm => 'Are you sure?' %>
<% end %>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/admin/contents/edit', 'cache/views/admin/contents/edit' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/admin/contents/edit', 'cache/views/admin/contents/edit' %>
<% end %>
