<h1>New Content</h1>
<% form_for @content, :url => admin_contents_path do |f| %>
<table class="adminFormTable">
  <thead></thead>
  <tbody>
    <tr>
      <td><%= f.label :page -%></td>
      <td><%= f.select :page_id, Page.all.collect{|p| [p.path, p.id]} %></td>
    </tr>
    <tr>
      <td><%= f.label :title -%></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :body -%></td>
      <td><%= f.text_area :body, :class => 'rte' %></td>
    </tr>
    <tr>
      <td><%= f.label :text_identifier -%></td>
      <td><%= f.text_field :text_identifier %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit -%></td>
    </tr>
  </tbody>
</table>
<% end %>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/admin/contents/new', 'cache/views/admin/contents/new' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/admin/contents/new', 'cache/views/admin/contents/new' %>
<% end %>
