<h1>Content Management System</h1>
<h2>Step 2</h2>
<h2>Content for, <i><%= page_display(@page) %></i></h2>
<div class="clear"></div>
<h2>Text Content</h2>
<% paginated_section @contents do %>
<%= render :partial => 'admin/contents/content.html.erb', :collection => @contents %>
<% end %>
<h2>Image Experience</h2>
<table class="quotesTable">
  <thead></thead>
  <tbody>
    <tr>
      <% ie = ImageExperience.find_by_page_id(@page.id) %>
      <% unless ie.blank? %>
      <td><%= image_experience ie -%></td>
      <td><%= link_to 'Edit', edit_admin_image_slide_show_path(ie) -%></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% if @page.quote_eligible? %>
<h2>Quotes</h2>
<table class="quotesTable">
  <thead></thead>
  <tbody>
    <%= admin_quotes(@page.path) %>
  </tbody>
</table>
<div><%= link_to 'New Quote', new_admin_quote_path(:page_path => @page.path) -%></div><br /><br />
<% end %>

<div><%= link_to 'Back', admin_contents_path -%></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/admin/contents/page', 'cache/views/admin/contents/page' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/admin/contents/page', 'cache/views/admin/contents/page' %>
<% end %>
