<div id="gblNav" class="float admin ">
  <%= link_to '<span>Content Management System</span>', admin_contents_path %>
  <%= link_to '<span>Users</span>', admin_users_path %>
  <%= link_to '<span>Readings</span>', admin_articles_path %>
  <%= link_to '<span>Testimonials</span>', admin_testimonials_path -%>
  <% if current_user_super_user? %>
  <%= link_to '<span>New Content</span>', new_admin_content_path -%>
  <%= link_to '<span>Quotes</span>', admin_quotes_path -%>
  <%= link_to '<span>Slide Shows</span>', admin_image_slide_shows_path -%>
  <% end %>
</div>