<div class="gblSessionNav">
  <span>Welcome, <%= current_user.name %></span><span> | </span><span><%= link_to 'My Penwood', account_path %></span><span> | </span><span><%= link_to "Mail (#{Conversation.n_new_messages(current_user)})", list_conversations_path %></span><% if current_user_admin? %><span> | </span><span><%= link_to 'Admin', admin_root_path %></span><% end %><span> | </span><span><%= link_to 'Sign out', signout_path %></span>
</div>
