<div id="gblNav" class="float">
  <%= link_to '<span>About Us</span>', about_us_path, :class => 'nav_about-lnk' %>
  <%= link_to '<span>Services</span>', about_us_path, :class => 'nav_services-lnk' %>
  <%= link_to '<span>Articles</span>', about_us_path, :class => 'nav_articles-lnk' %>
  <%= 
    link_to_unless_current '<span>Testimonials</span>', testimonials_path, :class => 'nav_testimonials-lnk' do
      '<span class="testimonials active">Testimonials</span>'
    end
  %>
  <% unless member? %>
  <%= 
    link_to_unless_current '<span>Contact Us</span>', contact_path, :class => 'nav_contact-lnk' do
      '<span class="contact active">Contact Us</span>'
    end  
  %>
  <% else %>
  <%= 
    link_to_unless_current '<span>Login</span>', contact_path, :class => 'nav_contact-lnk' do
      '<span class="contact active">Login</span>'
    end  
  %>
  <% end %>
</div>