<div id="gblNav" class="float">
  <%= link_to '<span>About Us</span>', about_us_path, :class => 'nav_about-lnk' %>
  <%= link_to '<span>Services</span>', about_us_path, :class => 'nav_services-lnk' %>
  <%= link_to '<span>Articles</span>', about_us_path, :class => 'nav_articles-lnk' %>
  <%= link_to '<span>Testimonials</span>', testimonials_path, :class => 'nav_testimonials-lnk' %>
  <%= link_to '<span>Contact Us</span>', about_us_path, :class => 'nav_contact-lnk' %>
</div>