<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > <%= link_to 'My Penwood', account_path -%> > Change Password</p>
<h1>Update Password</h1>
<% form_for @user do |f| %>
<%= f.error_messages %>
<%= f.label :password -%><br /><%= f.password_field :password -%><br /><br />
<%= f.label :password_confirmation -%><br /><%= f.password_field :password_confirmation -%><br /><br />
<div><%= f.submit "Update password"%> <%= link_to 'Back', account_path -%></div>
<% end %>
