<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > <%= link_to 'My Penwood', account_path -%> > Change Password</p>
<h1>Update Password</h1>
<% form_for @user do |f| %>
<%= f.error_messages %>
<%= f.label :password -%><br /><%= f.password_field :password -%><br /><br />
<%= f.label :password_confirmation -%><br /><%= f.password_field :password_confirmation -%><br /><br />
<div><%= f.submit "Update password"%> <%= link_to 'Back', account_path -%></div>
<% end %>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/users/change_password', 'cache/views/users/change_password' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/users/change_password', 'cache/views/users/change_password' %>
<% end %>
