<h1>My Account</h1>
<% form_for @user do |f| %>
<%= f.error_messages %>
<%= f.label :email -%><%= f.text_field :email -%><br />
<%= f.label :email_confirmation -%><%= f.text_field :email_confirmation -%><br />
<%= f.submit %>
<% end %>
<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/users/edit', 'cache/views/users/edit' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/users/edit', 'cache/views/users/edit' %>
<% end %>
