<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > <%= link_to 'My Penwood', account_path -%> > Update Account</p>

<h1>My Account</h1>

<% form_for @user, :html => {:multipart => true} do |f| %>
<%= f.error_messages %>
<%= f.label :email -%><br /><%= f.text_field :email -%><br /><br />
<%= f.label :email_confirmation -%><br /><%= f.text_field :email_confirmation -%><br /><br />
<%= f.label :password -%><br /><%= f.password_field :password -%><br /><br />
<%= f.label :password_confirmation -%><br /><%= f.password_field :password_confirmation -%><br /><br />
<%= f.label :avatar, 'Profile Image' -%><br /><%= f.file_field :avatar -%><br /><br />
<div><%= f.submit %></div>
<% end %>
