<div class="new_user_form_wpr">
  <h2 class="contactNewUserHeader">New User</h2>
  <% form_for @user do |f| %>
  <%= f.error_messages %>
  <div><%= f.label :name %><br /><%= f.text_field :name, :class => 'gblTextField'%></div>
  <div><%= f.label :email %><br /><%= f.text_field :email, :class => 'gblTextField'%></div>
  <div><%= f.label :email_confirmation, "Confirm Email" %><br /><%= f.text_field :email_confirmation, :class => 'gblTextField'%></div>
  <div><%= f.label :phone %><br /><%= f.text_field :phone, :class => 'gblTextField'%></div>
  <div><%= f.label :password -%><br /><%= f.password_field :password -%></div>
  <div><%= f.label :password_confirmation -%><br /><%= f.password_field :password_confirmation -%></div>
  <div><%= f.submit 'Submit' -%></div>
  <% end %>
</div>
