<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > About Us</p>
<h1>About Us</h1>
<%= image_experience ImageExperience.find_by_page_id(@page.id) %>
<div id="aboutContent"><%= cms_content_for('services_organizations_copy') %></div>
<div class="float buttonWpr"><%= link_to 'Schedule an appointment &#187;', new_appointment_path, :class => 'rounded-button medium'-%></div>
<div class="float buttonWpr"><%= link_to 'Contact us &#187;', contact_path, :class => 'rounded-button medium'-%></div>
<div class="clear"></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/welcome/about', 'cache/views/welcome/about' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/welcome/about', 'cache/views/welcome/about' %>
<% end %>
