<div class="homeCopy">
  <%= cms_content_for('home_copy') %>
</div>
<%= link_to '', about_us_path, :class => 'homeLearnMoreButton' %>
<div class="homePictureFrame"><div class="homePictureFrameLiner"><%= image_tag "couple.jpg"-%></div></div>
<div class="homeHorizontal">
  <ol id="penwoodServices">
    <li><%= cms_content_for('home_couples') %><%= link_to '', couples_services_path, :class => 'homeLearnMoreSm' -%></li>
    <li><%= cms_content_for('home_orgs') %><%= link_to '', organizations_services_path, :class => 'homeLearnMoreSm' -%></li>
    <li class="last"><%= cms_content_for('home_families') %><%= link_to '', families_services_path, :class => 'homeLearnMoreSm' -%></li>
  </ol>
</div>
<div id="foo">foo</div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/welcome/index', 'cache/views/welcome/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/welcome/index', 'cache/views/welcome/index' %>
<% end %>
