<h1>Contact</h1>

<% unless current_user%>
<div class="contactLoginForm">
  <div class="contactLoginFormLiner">
    <h2>Login</h2>
    <% form_for @user_session, :url => user_session_path do |f| %>
      <%= f.error_messages %>
      <%= f.label :email %><br />
      <%= f.text_field :email %><br />
      <br />
      <%= f.label :password %><br />
      <%= f.password_field :password %><br />
      <br />
      <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
      <br />
      <%= f.submit "Login" %>
    <% end %>
  </div>
</div>


<div class="contactRight">
  <ul class="contactInfo">
    <li>Terry Pennebaker and Doug Woodard</li>
    <li>Email <%= mail_to 'terry@penwoodpartners.com', 'Terry'-%> or <%= mail_to 'doug@penwoodpartners.com', 'Doug' -%></li>
    <li>Phone: 415-524-8400</li>
    <li>Fax: 415-524-8402</li>
  </ul>

  <% unless member? %>
  <h2>Create an account or just send us a note</h2>
  <% form_for @user, :url => create_contact_path do |f| %>
  <%= f.error_messages %>
  <div><%= f.label :name %><br /><%= f.text_field :name, :class => 'gblTextField'%></div>
  <div><%= f.label :email %><br /><%= f.text_field :email, :class => 'gblTextField'%></div>
  <div><%= f.label :email_confirmation, "Confirm Email" %><br /><%= f.text_field :email_confirmation, :class => 'gblTextField'%></div>
  <div><%= f.label :phone %><br /><%= f.text_field :phone, :class => 'gblTextField'%></div>
  <div><%= f.check_box :register, :checked => !!params[:register] -%><%= f.label :register, 'Create an account' -%></div>
  <div class="contactPasswordField hidden"><%= f.label :password -%><%= f.password_field :password -%></div>
  <div class="contactPasswordField hidden"><%= f.label :password_confirmation -%><%= f.password_field :password_confirmation -%></div>
  <div><%= f.label :note, "Send us a note:" %><br /><%= f.text_area :note, :class => 'gblTextArea'%></div>
  <div><%= f.submit 'Submit' -%></div>
  <% end %>
  <% else %>
  <div><%= link_to 'Add a user', 'javascript:;', :class => 'new_user_button contactNewUserButton gblAddButton' -%></div>
  <div class="new_user_form_wpr hidden">
    <h2>New User</h2>
    <% form_for @user do |f| %>
    <%= f.error_messages %>
    <div><%= f.label :name %><br /><%= f.text_field :name, :class => 'gblTextField'%></div>
    <div><%= f.label :email %><br /><%= f.text_field :email, :class => 'gblTextField'%></div>
    <div><%= f.label :email_confirmation, "Confirm Email" %><br /><%= f.text_field :email_confirmation, :class => 'gblTextField'%></div>
    <div><%= f.label :phone %><br /><%= f.text_field :phone, :class => 'gblTextField'%></div>
    <div><%= f.label :password -%><%= f.password_field :password -%></div>
    <div><%= f.label :password_confirmation -%><%= f.password_field :password_confirmation -%></div>
    <div><%= f.submit 'Submit' -%></div>
    <% end %>
  </div>
  <% end %>
</div>
<div class="clear"></div>
<% else %>

<% end %>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/contact/index', 'cache/views/contact/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/contact/index', 'cache/views/contact/index' %>
<% end %>
