<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > Contact Us</p>
<h1>Contact</h1>

<div class="contactLoginForm">
  <div class="contactLoginFormLiner">
    <h2>Login</h2>
    <% form_for @user_session, :url => user_session_path do |f| %>
      <%= f.error_messages %>
      <%= f.label :email %><br />
      <%= f.text_field :email %><br />
      <br />
      <%= f.label :password %><br />
      <%= f.password_field :password %><br />
      <br />
      <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
      <br />
      <%= f.submit "Login" %>
    <% end %>
  </div>
</div>


<div class="contactRight <%= 'guest' unless member? -%>">
  <%= render :partial => 'partials/contact_info.html.erb' -%>

  <% unless member? %>
  <h2 class="contactFormHeader">Create an account or just send a note</h2>
  <% form_for @user, :url => create_contact_path do |f| %>
  <%= f.error_messages %>
  <div><%= f.label :name %><br /><%= f.text_field :name, :class => 'gblTextField'%></div>
  <div><%= f.label :email %><br /><%= f.text_field :email, :class => 'gblTextField'%></div>
  <div><%= f.label :email_confirmation, "Confirm Email" %><br /><%= f.text_field :email_confirmation, :class => 'gblTextField'%></div>
  <div><%= f.label :phone %><br /><%= f.text_field :phone, :class => 'gblTextField'%></div>
  <div><%= f.label :register, 'Create an account' -%>&nbsp;&nbsp;<%= f.check_box :register, :checked => !!params[:register] -%></div>
  <div class="contactPasswordField hidden"><%= f.label :password -%><%= f.password_field :password -%></div>
  <div class="contactPasswordField hidden"><%= f.label :password_confirmation -%><%= f.password_field :password_confirmation -%></div>
  <div><%= f.label :note, "Send us a note:" %><br /><%= f.text_area :note, :class => 'gblTextArea'%></div>
  <div><%= f.submit 'Submit' -%></div>
  <% end %>
  <% else %>
  <% unless @user.errors.any? %><div class="addUserButtonWpr"><%= link_to 'Add a user', 'javascript:;', :class => 'new_user_button contactNewUserButton gblAddButton' -%></div><% end %>
  <div class="new_user_form_wpr <%= 'hidden' unless @user.errors.any? -%>">
    <h2>New User</h2>
    <% form_for @user do |f| %>
    <%= f.error_messages %>
    <div><%= f.label :name %><br /><%= f.text_field :name, :class => 'gblTextField'%></div>
    <div><%= f.label :email %><br /><%= f.text_field :email, :class => 'gblTextField'%></div>
    <div><%= f.label :email_confirmation, "Confirm Email" %><br /><%= f.text_field :email_confirmation, :class => 'gblTextField'%></div>
    <div><%= f.label :phone %><br /><%= f.text_field :phone, :class => 'gblTextField'%></div>
    <div><%= f.label :password -%><%= f.password_field :password -%></div>
    <div><%= f.label :password_confirmation -%><%= f.password_field :password_confirmation -%></div>
    <div><%= f.submit 'Submit' -%></div>
    <% end %>
  </div>
  <% end %>
  <div class="clear"></div>
</div>
<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/contact/index', 'cache/views/contact/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/contact/index', 'cache/views/contact/index' %>
<% end %>
