<h1>Contact</h1>
<div style="float:right;">
  <ul>
    <li>Phone: 415-524-8400</li>
    <li>Fax: 415-524-8402</li>
  </ul>

  <% form_for :contact do |f| %>
  <div><%= f.label :name %><%= f.text_field :name, :class => 'gblTextField'%></div>
  <div><%= f.label :email %><%= f.text_field :email, :class => 'gblTextField'%></div>
  <div><%= f.label :email_confirmation, "Confirm Email" %><%= f.text_field :email_confirmation, :class => 'gblTextField'%></div>
  <div><%= f.label :phone %><%= f.text_field :phone, :class => 'gblTextField'%></div>
  <div><%= f.label :note, "Send us a note:" %><%= f.text_area :note, :class => 'gblTextField'%></div>
  <% end %>
</div>

<div style="margin-top:120px;">
  <h2>Login</h2>
  <% form_for @user_session, :url => user_session_path do |f| %>
    <%= f.error_messages %>
    <%= f.label :email %><br />
    <%= f.text_field :email %><br />
    <br />
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
    <br />
    <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
    <br />
    <%= f.submit "Login" %>
  <% end %>
</div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/contact/index', 'cache/views/contact/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/contact/index', 'cache/views/contact/index' %>
<% end %>
