<h1>My Appointments</h1>
<h2>Tentative Appointments</h2>
<% if @tentative_appointments.empty? %><p>You do not have any unapproved appointments.</p><% end %>
<ul class="appointments">
<%= render :partial => 'appointments/appointment.html.erb', :collection => @tentative_appointments %>
</ul>
<div class="clear"></div>
<h2>Confirmed Appointments</h2>
<% if @confirmed_appointments.empty? %><p>You do not have any confirmed appointments.</p><% end %>
<ul class="appointments">
<%= render :partial => 'appointments/appointment.html.erb', :collection => @confirmed_appointments %>
</ul>

<div><%= link_to 'New appointment', new_appointment_path, :class => 'medium rounded-button' %></div>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/appointments/index', 'cache/views/appointments/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/appointments/index', 'cache/views/appointments/index' %>
<% end %>
