<p class="breadcrumbs"><%= link_to 'Home', root_path -%> > <%= link_to 'My Penwood', account_path -%> > My Appointments</p>
<h1>My Appointments</h1>
<h2>Tentative Appointments</h2>
<div id="tentative_appts_wpr"><%= image_tag 'ajax-loader-alt.gif'%></div>
<h2>Confirmed Appointments</h2>
<div id="confirmed_appts_wpr"><%= image_tag 'ajax-loader-alt.gif'%></div>
<div class="clear"></div><br /><br />
<div><%= link_to 'New appointment', new_appointment_path, :class => 'medium rounded-button' %></div>

<%= hidden_field_tag 'tentative_appointments_path', tentative_appointments_appointments_path %>
<%= hidden_field_tag 'confirmed_appointments_path', confirmed_appointments_appointments_path %>

<% content_for :scripts do %>
<%= static_asset_javascript 'javascripts/views/appointments/index', 'cache/views/appointments/index' %>
<% end %>

<% content_for :styles do %>
<%= static_asset_stylesheet 'stylesheets/views/appointments/index', 'cache/views/appointments/index' %>
<% end %>
