<tr>
  <td><%=image_slide_show.title %></td>
  <td><td><%= page_display image_slide_show.page %></td></td>
  <td>
    <span><%= link_to 'Show', admin_image_slide_show_path(image_slide_show) -%></span>
    <span><%= link_to 'Edit', edit_admin_image_slide_show_path(image_slide_show) -%></span>
    <span><%= link_to 'Delete', admin_image_slide_show_path(image_slide_show), :method => :delete -%></span>
  </td>
</tr>
