<h1>New Image Slide Show</h1>
<% form_for @experience, :url => admin_image_slide_shows_path, :html => {:multipart => true} do |f| %>
<%= f.error_messages %>
<table class="adminFormTable">
  <thead></thead>
  <tbody>
    <% if current_user_super_user? %>
    <tr>
      <td><%= f.label :page_id -%></td>
      <td><%= f.select :page_id, Page.all.collect{|p| [page_display(p), p.id]} %></td>
    </tr>
    <tr>
      <td><%= f.label :type -%></td>
      <td><%= f.select :type, ['ImageSlideShow', 'PictureWindow'] %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= f.label :title %></td><td><%= f.text_field :title -%></td>
    </tr>
    <% f.fields_for :images do |images| %>
    <tr>
      <td colspan="2">Image</td>
    </tr>
    <tr>
      <td><%= images.label :title -%></td><td><%= images.text_field :title -%></td>
    </tr>
    <tr>
      <td><%= images.label :image -%></td><td><%= images.file_field :image -%></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2"><%= f.submit 'Save and Add image' -%></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit -%> <%= link_to 'Back', current_user_super_user? ? {:action => 'index'} : admin_contents_path -%></td>
    </tr>
  </tbody>
</table>
<% end %>
