<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
<title>Penwood Partners - Transforming Relationships</title>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta charset="utf-8" />
<%= stylesheet_link_tag    "application"%>
<%= javascript_include_tag "application"%>
<%= yield :styles %>
<%= yield :google_js %>
</head>
<body>
  <div id="singleColWpr">
    <div id="singleCol">
      <div id="singleColLiner">
        <div id="gblTop">
          <div id="gblTopLiner">
            <%= render :partial => 'partials/gbl_session_nav.html.erb' unless guest? %>
            <% unless logged_in? || member? %><div class="gblSessionNav"><%= link_to 'Sign in', contact_path-%> | <%= link_to 'Register', contact_path(:register => true)-%></div><% end %>
            <a href="<%= root_path-%>" id="gblLogoLnk"><span id="gblLogo" class="block float"></span></a>
            <%= render :partial => 'partials/gbl_nav.html.erb' %>
          </div>
        </div>
        <div id="gblContent">
          <% if flash[:notice] %><div class="flashNotice"><%= flash[:notice] %></div><% end %>
          <%= yield %>
        </div>
        <div id="gblFooter">
          <div id="gblFooterLiner">
            <%= render :partial => 'partials/gbl_footer.html.erb' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= yield :scripts %>
</body>
</html>
